<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Call VAT Ajax</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    form .result, .row {
        margin-left: 10px;
    }
    form {
        margin-top: 10px;
        margin-left: 10px;
    }
  </style>
</head>
<body ng-app="submitVAT">
  <form ng-submit="submit()" ng-controller="VatController" style="">
  <div class="form-group row">
    <div class="col-xs-3">
      <label>Enter VAT and hit button:</label> 
      <input class="form-control"  placeholder = "VAT number" size="20" type="text" ng-model="text" name="text" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-3">
      <input type="submit" id="submit" value="Check VAT Number" class="btn btn-default"/>
    </div>
  </div>
  <hr>
  <div class="vatInfo" ng-show="!Notification && isVisible">
     <div class="form-group row">
      <div class="col-xs-3">
        <label>Name</label> 
        <input class="form-control" size="120" type="text" value="{{Name}}" disabled/>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">
        <label>Address</label> 
        <input class="form-control" size="120" type="text" value="{{Address}}" disabled/>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <label>RequestDate</label> 
        <input class="form-control" size="120" type="text" value="{{RequestDate}}" disabled/>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">
        <label>VAT</label> 
        <input class="form-control" size="120" type="text" value="{{VAT}}" disabled/>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">
        <label>Valid</label> 
        <input class="form-control" size="120" type="text" value="{{Valid}}" disabled/>
      </div>
    </div>
  </div>
  <div class="vatNotification" ng-show="Notification">
    <div class="form-group row">
      <div class="col-xs-3">
        <label>{{InfoText}}</label> 
      </div>
    </div>
  </div>  
</form>
</body>
</html>
